.common{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.NavBar_Main{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;}
.NavBar_BG{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    opacity: 1;}

.NavBarAlert{
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 100px;
    height: 100px;;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 1;
}

.NavItem{
    margin-left: -50px;
    position: absolute;
    width: 100px;
    height: 80px;
    background: red;
}
.NavItem:nth-child(2){left: 13%;}
.NavItem:nth-child(3){left: 29%;}
.NavItem:nth-child(4){left: 45%;}
.NavItem:nth-child(5){left: 61%;}
.NavItem:nth-child(6){left: 77%;}

.NavText{
    width: 100px;
    height: 30px;
    top:0px;
    margin-top: 20px;
    background: green;
    border-radius: 10px;
    text-align: center;
}


.circle{
    animation:circleOut 2s infinite;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
}
@keyframes circleOut{
    0%{opacity: 0.4;}
    40%{opacity: 1;}
    80%{opacity: 0.4;}
    100%{opacity: 0.4;}
}

#circle1{
    left: 25px;
    top: 25px;
    height: 50px;
    width: 50px;
    border: 5px solid rgb(180, 200, 230);
    }
#circle2{
    animation-delay: 300ms;
    left: 20px;
    top: 20px;
    height: 60px;
    width: 60px;
    border: 6px solid rgb(255, 255, 255);
    }
#circle3{
    animation-delay: 600ms;
    left: 10px;
    top: 10px;
    height: 80px;
    width: 80px;
    border: 11px solid rgba(255, 255, 255,0.6);
    }
.arrow{
    position: relative;
    animation: arrawLight 2s infinite;
    margin: 8px;
    left: 30px;
    top: 8px;
    width: 0;
    height: 0;
    border-width: 12px 12px 0px 12px;
    border-style: solid;
    border-color: rgba(124, 175, 250, 0.4) transparent transparent transparent;
}

@keyframes arrawLight{
    0%{border-color:rgba(130, 180, 255, 0.4) transparent transparent transparent}
    75%{border-color:rgba(130, 180, 255, 0.4) transparent transparent transparent}
    85%{border-color:rgba(200, 222, 255,1) transparent transparent transparent}
    90%{border-color:rgba(200, 222, 255,1) transparent transparent transparent}
    100%{border-color:rgba(130, 180, 255, 0.4) transparent transparent transparent}
}
.arrow:nth-child(0) {-webkit-animation-delay: 0s; animation-delay: 0s;}
.arrow:nth-child(1) {-webkit-animation-delay: 0.1s; animation-delay: 0.1s;}
.arrow:nth-child(2) {-webkit-animation-delay: 0.2s; animation-delay: 0.2s;}
.arrow:nth-child(3) {-webkit-animation-delay: 0.3s; animation-delay: 0.3s;}
.arrow:nth-child(4) {-webkit-animation-delay: 0.4s; animation-delay: 0.4s;}


#LButton{
    position: absolute;
    left: 0%;
    top: 20%;
    width: 5%;
    height: 60%;
    opacity: 0.4;
}
#RButton{
    position: absolute;
    right: 0%;
    top: 20%;
    width: 5%;
    height: 60%;
    opacity: 0.4;
}
.LB_Element{
    height: 100%;
    position: absolute;
    animation: ButtonAnime 2s infinite;
    background: rgba(180, 230, 255,1);
}
.RB_Element{
    height: 100%;
    position: absolute;
    animation: ButtonAnime 2s infinite;
    background: rgba(180, 230, 255,1);
}
@keyframes ButtonAnime{
    0%{background: rgba(0, 50, 120, 0.3)}
    20%{background: rgba(180, 230, 255,1)}
    40%{background: rgba(0, 50, 120, 0.3)}
    100%{background: rgba(0, 50, 120, 0.3)}
}
.LB_Element:nth-child(1){-webkit-animation-delay: 0s; animation-delay: 0s;width: 10%;left: 90%;}
.LB_Element:nth-child(2){-webkit-animation-delay: 0.1s; animation-delay: 0.1s;width: 20%;left: 50%;}
.LB_Element:nth-child(3){-webkit-animation-delay: 0.2s; animation-delay: 0.2s;width: 40%;left: 0%;}
.RB_Element:nth-child(1){-webkit-animation-delay: 0s; animation-delay: 0s;width: 10%;right: 90%;}
.RB_Element:nth-child(2){-webkit-animation-delay: 0.1s; animation-delay: 0.1s;width: 20%;right: 50%;}
.RB_Element:nth-child(3){-webkit-animation-delay: 0.2s; animation-delay: 0.2s;width: 40%;right: 0%;}

.NavPoint{
    width: 1%;


}

